<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">    
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Calculadora de Soma</h2>
          
          <form #formulario="ngForm" (ngSubmit)="calculaResultado()">
            <div class="mb-3">
              <label for="primeiroNumero" class="form-label">Primeiro número</label>
              <input type="number" class="form-control" id="primeiroNumero" name="primeiroNumero" [(ngModel)]="primeiroNumero">
            </div>

            <div class="mb-3">
              <label for="segundoNumero" class="form-label">Segundo número</label>
              <input type="number" class="form-control" id="segundoNumero" name="segundoNumero" [(ngModel)]="segundoNumero">
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2">
              Somar
            </button>
          </form>

          <hr>
          
          @if(resultado) {
            <div class="text-center">
              <p class="h4">Resultado: {{resultado}}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>